@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --azul-lunar: #adc6ff;
  --violeta-estelar: #c084fc71;
  --cinza: rgba(255, 255, 255, 0.411);
  --branco: white;
  --preto: black;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 300 to 900
 <uniquifier>: Use a unique and descriptive class name */

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background: var(--preto) url(../imagens/GIF/5\ centimeters\ per\ second\ _\ anime\ gif.gif) center center no-repeat fixed;
    background-size: cover;
    height: 100dvh;
    display: grid;
    text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20%;
}

h1 {
     color: var(--branco);
     font-family: sans-serif;
     font-size: 1.7em;
     white-space: nowrap;
     text-align: center;
     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
     margin-top: 30%;
     user-select: none;
     animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both, slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     transition: .5s;
}

h1::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 5%;
  left: 50%;
  background-color: var(--cinza);
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

h1:hover::after {
  width: 100%;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

div#entrada {
  animation: slide-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, text-focus-in 1.5s 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

a {
  text-decoration: none;
}

button {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.384);
}

.buttons {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
}

.buttons button {
  width: 150px;
  height: 50px;
  background-color: var(--violeta-estelar);
  margin: 20px;
  color: var(--branco);
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.buttons button:before, .buttons button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--azul-lunar);
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
  left: 0;
  bottom: 0;
}

.buttons button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttons button span:before, .buttons button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--azul-lunar);
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
  left: 0;
  bottom: 0;
}

.buttons button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttons button p:before, .buttons button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.buttons button p:after {
  content: attr(data-text);
  top: 150%;
  color: var(--azul-lunar);
}

.buttons button:hover:before, .buttons button:hover:after {
  width: 100%;
}

.buttons button:hover span {
  z-index: 1;
}

.buttons button:hover span:before, .buttons button:hover span:after {
  height: 100%;
}

.buttons button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.buttons button.start {
  background-color: var(--azul-lunar);
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buttons button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button.start p:after {
  color: var(--branco);
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.buttons button.start:hover:before, .buttons button.start:hover:after {
  display: none;
}

.buttons button.start:hover span {
  display: none;
}

.buttons button:active {
  outline: none;
  border: none;
}

.buttons button:focus {
  outline: 0;
}

@keyframes slide-top {
  0% {
      transform: translateY(100px);
      display: none;
  }
  100% {
      transform: translateY(0px);
  }
}

@keyframes text-focus-in {
  0% {
      filter: blur(12px);
      opacity: 0;
  }

  50% {
      filter: blur(6px);
      opacity: 0.5;
  }

  100% {
      filter: blur(0px);
      opacity: 1;
  }
}


@media screen and (min-width: 767px) and (max-width: 999px) {
  h1 {
    font-size: 2.2em;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  h1 {
    font-size: 2.5em;
  }

  button {
    margin-top: 10%;
  }
}

@media screen and (min-width: 1200px) {
  h1::after {
    height: 2.5px;
  }

  h1 {
    font-size: 3em;
  }

  button {
    margin-top: 35%;
  }
}