@charset "UTF-8";

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html, body {
    scroll-behavior: smooth;
    background: black url(../imagens/GIF/kuwapo\ on\ ig.gif) no-repeat fixed;
    scroll-padding-top: 80px;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #af43d6;
}

::-webkit-scrollbar-thumb {
    background: #040305;
    border-radius: 10px;
}

menu {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 95%;
    height: 70px;
    margin-left: -2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.692);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    animation: scale-in-ver-top 2.5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

ul {
    margin-left: -10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul > li {
    list-style-type: none;
}

a.menu {
    text-decoration: none;
    color: white;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2em;
    text-align: center;
    animation: fadeup 1s 3.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    transition: border-bottom 1s ease;
    &:hover {
        border-bottom: 1px solid rgb(129, 126, 126);
        transition: all 1s;
    }
    
}

@keyframes fadeup {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#bem-vindo-container {
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}

h1 {
    color: white;
    user-select: none;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;
    margin-left: 2%;
}

.welcome {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9em;
    text-align: center;
    overflow: hidden;
    font-weight: 700;
    border-right: 0.15rem solid orange;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
}

#postyping {
    animation: fadeup 2s 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    border-right: none;
}

@keyframes typing {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}

nav > section > h1 {
    color: rgb(255, 255, 255);
}

nav > section {
    border-image: fill 0 linear-gradient(#0003, #000);
    box-shadow: 0px -3px 6px 1px #00000038;
    width: 100%;
}


.capa {
    background: black url(../imagens/GIF-Imagens-Galeria/capas/Mizi\ x\ Sua.gif) center center no-repeat;
    background-size: cover;
    height: 275px;
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.479);
    animation: fade-in-fwd 3s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

#scott-ramona {
    background-image: url(../imagens/GIF-Imagens-Galeria/capas/Ramona\ x\ Scott\ gif.gif);
}

#sawako-kazehaya {
    background-image: url(../imagens/GIF-Imagens-Galeria/capas/sawako\ x\ kazehaya.gif);
}

#nana {
    background: url(../imagens/GIF-Imagens-Galeria/capas/Nana\ cute\ x\ Nana\ Rock.jpg) center center;
    background-size: cover;
}

main {
    margin-top: 30px;
}


.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

.scroll-content {
    display: flex;
    animation: scroll 22s linear infinite;
}

.scroll-content-invert {
    animation: scroll-invert 22s linear infinite;
}

img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.479);
    image-rendering: optimizeQuality;
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(0.94);
    }
}

#borda {
    width: 417px;
    mix-blend-mode: lighten;
    border-radius: none;
    transform: none;
    transition: none;
}

#borda {
    height: 140px;
}

#gif-container {
    display: flex;
}

.gif {
    border-radius: none;
    transform: none;
    transition: none; 
    mix-blend-mode: lighten;
}

@keyframes scroll {
    from {
        transform: translateX(1%);
    }

    to {
        transform: translateX(-70%);
    }
}

@keyframes scroll-invert {
    from {
        transform: translateX(-70%);
    }

    to {
        transform: translateX(1%);
    }
}

div {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    animation: slide-top 2.5s 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, text-focus-in 2s 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    margin-top: 20px;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 61, 245);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: rgb(255, 61, 245);
    box-shadow: 0 0 30px 5px rgb(223, 53, 214);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
    opacity: 0;
    left: 0%;
    }

    50% {
    opacity: 1;
    }

    to {
    opacity: 0;
    left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

@keyframes slide-top {
  0% {
      transform: translateY(100px);
      display: none;
  }
  100% {
      transform: translateY(0px);
  }
}

@keyframes text-focus-in {
  0% {
      filter: blur(12px);
      opacity: 0;
  }

  50% {
      filter: blur(6px);
      opacity: 0.5;
  }

  100% {
      filter: blur(0px);
      opacity: 1;
  }
}