@charset "UTF=8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 300 to 900
 <uniquifier>: Use a unique and descriptive class name */

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background: black;
    color: white;
    height: 100dvh;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
    align-items: center;
    width: 480px;
    text-align: left;
}

img {
  width: 470px;
  border-radius: 10px;
  transition: transform .5s;

    &:hover {
      transform: scale(0.95);
    }
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-top: 25%;
  margin-left: 5%;
  margin-right: 1%;
  margin-bottom: 20px;
  position: relative;
  animation: slide-in-fwd-center 4s 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1 {
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

h1, h2 {
  user-select: none;
  font-family: 'Sekuya';
  text-align: center;
}

h2 {
  font-size: 1.3em;
  white-space: wrap;
  overflow: hidden;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

div#botoes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 20%;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 1.1em;
}

button {
  animation: slide-top 2.5s 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, text-focus-in 1.5s 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 2px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  transition: all 0.2s ease-out;
}

button:hover::before {
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

@keyframes slide-top {
  0% {
      transform: translateY(100px);
      display: none;
  }
  100% {
      transform: translateY(0px);
  }
}

@keyframes text-focus-in {
  0% {
      filter: blur(12px);
      opacity: 0;
  }

  50% {
      filter: blur(6px);
      opacity: 0.5;
  }

  100% {
      filter: blur(0px);
      opacity: 1;
  }
}