@charset "UTF=8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 300 to 900
 <uniquifier>: Use a unique and descriptive class name */

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background: black;
    color: white;
    height: 100dvh;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    transition: .5s;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-self: center;
    align-items: center;
    width: 480px;
    text-align: left;
    transition: margin-top .5s ease-in-out;
}

img {
  width: 470px;
  border-radius: 10px;
  transition: .5s;

    &:hover {
      transform: scale(0.95);
    }
}

#coração {
  transition: .5s;
  width: 200px;
  opacity: 0;
  &:hover {
    transform: none;
  }
}

#GIF {
  animation: none;
  margin: none;
  position: absolute;
  mix-blend-mode: lighten;
  width: 300px;
  top: 35%;
  left: -10%;
  transition: .5s;
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 25% 1% 5% 20px;
  position: relative;
  animation: slide-in-fwd-center 2s 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1 {
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
h1, h2, button, abbr {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
}

h1, h2 {
  user-select: none;
  font-family: 'Sekuya';
  text-align: center;
  transition: .5s ease-in-out;
}

h2 {
  font-size: 1.2em;
  white-space: wrap;
  overflow: hidden;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

div#botoes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 20%;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 1.1em;
}

button {
  animation: slide-top 2.5s 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, text-focus-in 1.5s 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 2px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  transition: all 0.2s ease-out;
}

button:hover::before {
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

@keyframes slide-top {
  0% {
      transform: translateY(100px);
      display: none;
  }
  100% {
      transform: translateY(0px);
  }
}

@keyframes text-focus-in {
  0% {
      filter: blur(12px);
      opacity: 0;
  }

  50% {
      filter: blur(6px);
      opacity: 0.5;
  }

  100% {
      filter: blur(0px);
      opacity: 1;
  }
}



@media screen and (min-width: 767px) {
  #parte1, #parte2, #parte3, #parte4 {
    font-size: 1.3em;
    width: 500px;
  }

  h1 {
    font-size: 2.4em;
  }

  h1::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 91%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.411);
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
  }

  h1:hover::after {
      width: 70%;
  }

  #GIF, #coração {
    transition: opacity .5s;
    opacity: 1;
  }

  button {
    padding: 15px 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  h1:hover::after {
    width: 57%;
  }

  #GIF {
    transition: .5s;
    left: 1%;
    top: 20%;
  }
}

@media screen and (min-width: 1200px) {
  h1:hover::after {
    width: 47%;
  }

  #GIF {
    transition: .5s;
    left: 1%;
    top: 10%;
  }
}