@charset "UTF-8";

@view-transition {
    navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
    
    ::view-transition-group(page-content) {
        animation-duration: 1s;
        animation-timing-function: ease;
    }
    
    ::view-transition-old(page-content) {
        animation-name: scale-out-br;
    }
    
    ::view-transition-new(page-content) {
        animation-name: scale-in-tl;
    }
    
    .card .alien-stage {
        view-transition-name: alien-stage-image;
    }

    .card img.kuwapo {
        view-transition-name: galeria-image;
    }

    .card .poema {
        view-transition-name: poema-image;
    }
    
    .card .inicio {
        view-transition-name: inicio-image;
    }

    
}